<GridLayout class="comment-box-wrapper" verticalAlignment="top" row="*" columns="auto, *"
  (swipe)="onSwipeComment($event)" [ngClass]="isTrashVisible ? 'show-slide-left': ''">
  <StackLayout class="profile-icon" orientation="horizontal" col="0">
    <qn-profile-icon [slug]="comment?.userActorDTO?.slug" [isCommunityAvatar]="false"
      [avatar]="comment.userActorDTO.avatarDTO" [height]="28" [sizeRef]="'small'">
    </qn-profile-icon>
  </StackLayout>
  <GridLayout class="comment-box-body" col="1" rows="*, auto" verticalAlignment="top" horizontalAlignment="stretch"
    width="100%">
    <StackLayout row="0" class="profile-detail">
      <StackLayout class="head" orientation="horizontal">
        <qn-username [username]="comment?.userActorDTO?.username" [slug]="comment?.userActorDTO?.slug"></qn-username>
      </StackLayout>
      <StackLayout class="comment-object" orientation="horizontal">
        <Label [text]="comment?.commentObject" verticalAlignment="center"></Label>
        <!-- <StackLayout col="1" *ngIf="allowDelete()" (tap)="deleteComment()">
          <Label class="fa" text="&#xf014;" verticalAlignment="center"></Label>
        </StackLayout> -->
      </StackLayout>
      <StackLayout *ngIf="comment.commentMediaList?.length" orientation="horizontal" verticalAlignment="top">
        <qn-attached-file-list [attachedFileLinkList]="comment.commentMediaList"></qn-attached-file-list>
      </StackLayout>
    </StackLayout>
    <StackLayout row="1" class="comment-actions" orientation="horizontal">
      <StackLayout class="action">
        <Label class="like-action" (tap)="likeComment(comment.commentActionId)"
          [text]="comment?.commentActionMeta?.liked? 'LIKED':'LIKE'"></Label>
      </StackLayout>
      <StackLayout class="action">
        <Label class="reply-action" (tap)="replyTo()" text="Reply"></Label>
      </StackLayout>
      <StackLayout class="time-string">
        <qn-time-string [metaData]="comment.metaData"></qn-time-string>
      </StackLayout>
    </StackLayout>
  </GridLayout>
  <StackLayout class="trash-container" col="1" *ngIf="isTrashVisible" horizontalAlignment="right"
    [ngClass]="isTrashVisible ? 'show-slide-left': ''" height="100%" verticalAlignment="middle">
    <StackLayout orientation="horizontal" horizontalAlignment="center" verticalAlignment="stretch"
      (tap)="deleteComment()">
      <Label class="fa icon" text="&#xf1f8;" verticalAlignment="middle"></Label>
    </StackLayout>
  </StackLayout>
</GridLayout>