@mixin eloha-font($family, $weight: 0) {
    font-family: $family;
    @if $weight != 0 {
        font-weight: $weight;
    }
}
@function calc-font-size($val1, $val2) {
    @return $val1 + $val2;
}
$tablet-offset: 5;
@mixin make-font-size($level, $device: 0) {
    @if $device == 0 {
        font-size: calc-font-size(14, $level);
    }
    @if $device == 1 {
        font-size: calc-font-size(calc-font-size(13, $tablet-offset), $level);
    }
}
