<Page xmlns="http://www.nativescript.org/tns.xsd" (loaded)="onCommentPageLoaded($event)">
  <Page.actionBar>
    <qn-action-bar [isChildPage]="true" [title]="'Comments'" [pageViewContainerRef]="viewContainerRef"></qn-action-bar>
  </Page.actionBar>
  <GridLayout class="comment-page-wrapper" (loaded)="onCommentContainerLoaded($event)" rows="*, auto">
    <GridLayout class="comment-item-wrapper" row="0">
      <ScrollView>
        <!-- <RadListView [items]="commentActionList" orientation="vertical">
          <ListViewLinearLayout tkListViewLayout scrollDirection="vertical" dynamicItemSize="true">
          </ListViewLinearLayout>
          <ng-template tkListItemTemplate let-comment="item" let-index="index">
            <qn-comment-item class="comment-item" [comment]="comment" (reply)="replyTo(comment)" [post]="feed"
              (deleteEvent)="deleteComment($event)">
            </qn-comment-item>
          </ng-template>
        </RadListView> -->
        <FlexboxLayout class="comment-item-container" alignItems="stretch" flexDirection="column">
          <StackLayout class="comment-box" *ngFor="let comment of (feed.commentActionList || [])"
            orientation="horizontal" horizontalAlignment="stretch">
            <qn-comment-item class="comment-item" [comment]="comment" (reply)="replyTo(comment)" [post]="feed"
              [enableDeletion]="true" (deleteEvent)="onDeleteComment($event)">
            </qn-comment-item>
            <!-- <StackLayout class="child-comment-list" *ngIf="comment?.childCommentDTOSet?.length">
          <StackLayout class="child-comment" *ngFor="let childComment of (comment.childCommentDTOSet || [])">
            <qn-comment-item class="comment-item" [comment]="childComment" [parentComment]="comment"
              (reply)="replyTo(childComment, comment)" [post]="feed" (deleteEvent)="deleteComment($event)">
            </qn-comment-item>
          </StackLayout>
        </StackLayout>  -->
          </StackLayout>
          <StackLayout class="loader" *ngIf="isCommentLoading">
            <qn-comment-skeleton></qn-comment-skeleton>
          </StackLayout>
          <StackLayout class="load-more-button" orientation="horizontal" horizontalAlignment="center"
            verticalAlignment="top">
            <Label horizontalAlignment="center" text="View more comments" ripple [rippleColor]="qColors.$primary"
              (tap)="getComments()"></Label>
          </StackLayout>
        </FlexboxLayout>
      </ScrollView>
    </GridLayout>
    <StackLayout class="comment-user-interaction-wrapper" row="1">
      <StackLayout>
        <qn-hr [height]="1" [color]="qColors.$heading"></qn-hr>
        <qn-hr [height]="1" [color]="qColors.$primary"></qn-hr>
      </StackLayout>
      <qn-create-comment [post]="feed" (onCommentLoading)="onCommentLoading($event)" #createComment></qn-create-comment>
    </StackLayout>
  </GridLayout>
</Page>