@import "~/variables";
@import "scss/mixins/index";

.community-page-wrapper {
    .community-avatar {
        .community-details {
            transition: all 500ms ease-in-out;
            padding: 5;
            background: linear-gradient(to top, $black, rgba(0, 0, 0, 0.233), rgba(0, 0, 0, 0.233));
            .community-name {
                @include make-font-size(3);
                color: $white;
                padding: 3;
                padding-left: 10;
                border-left-width: 3;
                border-left-color: $primary;
                font-weight: 500;
            }
        }
        .modify {
            Button {
                margin: 2;
                width: 27;
                height: 27;
                padding: 1;
                @include make-font-size(2);
                color: $primary;
                border-radius: 50;
                background-color: $white-transparent;
            }
        }
    }
    .community-body {
        margin-left: 5;
        margin-right: 5;
        .community-members {
        }
        .community-settings {
            margin-bottom: 3;
            .settings-button {
                margin: 2;
                @include make-font-size(4);
                background-color: $gray;
                color: $primary;
                border-radius: 50;
                height: 50;
                width: 50;
            }
        }
        .owner-profile {
            margin-top: 5;
            margin-bottom: 5;
        }
        .community-activity {
            margin-top: 5;
            margin-bottom: 5;
        }
        .community-questions {
            margin-top: 5;
            margin-bottom: 5;
        }
        .create-post {
            margin-top: 5;
            margin-bottom: 5;
        }
        .no-posts-found {
            margin: 20;
            color: $gray-font-2;
            text-align: center;
            .explore-text {
                color: $link-primary;
                text-decoration: underline;
            }
        }
        .user-feed {
            margin-top: 3;
            margin-bottom: 3;
        }
        .not-allowed-into-community {
            margin: 20;
            background-color: $dark-gray;
            border-color: $gray;
            border-width: 1;
            border-radius: 10;
            text-align: center;
            .icon-text {
                color: $primary;
            }
            .explore-text {
                color: $link-primary;
                text-decoration: underline;
            }
        }
    }
}
