<StackLayout class="icon">
    <StackLayout *ngIf="slug">
        <StackLayout [nsRouterLink]="['/', defaultPath, slug]" [height]="height" [width]="height"
            verticalAlignment="center">
            <NSImg [placeholderImageUri]="defaultSrc" [failureImageUri]="defaultSrc" verticalAlignment="center"
                [src]="getAvatarLink()" [height]="height" [width]="height" loadMode="async" roundAsCircle="true"
                stretch="aspectFill" (failure)="onFailure($event)">
            </NSImg>
        </StackLayout>
    </StackLayout>
    <StackLayout *ngIf="!slug" [height]="height" [width]="height" verticalAlignment="center">
        <NSImg [placeholderImageUri]="defaultSrc" [failureImageUri]="defaultSrc" verticalAlignment="center"
            [src]="getAvatarLink()" [height]="height" [width]="height" loadMode="async" roundAsCircle="true"
            stretch="aspectFill" (failure)="onFailure($event)">
        </NSImg>
    </StackLayout>
</StackLayout>