@import "~/variables";
@import "scss/mixins/index";

.post-menu-option-wrapper {
    .option {
        margin-left: 10;
        margin-right: 10;
        padding-top: 10;
        padding-bottom: 10;
        @include make-font-size(4);
        color: $gray-font-3;
    }
    .option.border {
        border-bottom-width: 1px;
        border-bottom-color: $gray-font-3;
    }
}
