<Page xmlns="http://www.nativescript.org/tns.xsd" class="home-wrapper">
  <Page.actionBar>
    <qn-action-bar [pageViewContainerRef]="viewContainerRef"></qn-action-bar>
  </Page.actionBar>
  <BottomNavigation [selectedIndex]="currentTabIndex" (selectedIndexChanged)="onSelectedIndexChanged($event)">

    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <TabStrip>
      <TabStripItem>
        <Label text="Home"></Label>
        <Image src="font://&#xf015;" class="fa t-36"></Image>
      </TabStripItem>
      <TabStripItem class="special">
        <Label text="Explore"></Label>
        <Image src="font://&#xf2de;" class="fa t-36"></Image>
      </TabStripItem>
      <TabStripItem class="special">
        <Label text="Create"></Label>
        <Image src="font://&#xf055;" class="fa t-36"></Image>
      </TabStripItem>
      <TabStripItem class="special">
        <Label text="Account"></Label>
        <Image src="font://&#xf007;" class="fa t-36"></Image>
      </TabStripItem>
    </TabStrip>

    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <TabContentItem>
      <GridLayout>
        <router-outlet name="feedTab"></router-outlet>
      </GridLayout>
    </TabContentItem>
    <TabContentItem>
      <GridLayout>
        <router-outlet name="explorePageTab"></router-outlet>
      </GridLayout>
    </TabContentItem>
    <TabContentItem>
      <GridLayout>
        <router-outlet name="createCommunityPageTab"></router-outlet>
      </GridLayout>
    </TabContentItem>
    <TabContentItem>
      <GridLayout>
        <router-outlet name="userPageTab"></router-outlet>
      </GridLayout>
    </TabContentItem>

  </BottomNavigation>
</Page>