<Page xmlns="http://www.nativescript.org/tns.xsd" (loaded)="onPageLoaded($event)">
  <ScrollView class="create-post-wrapper" orientation="vertical">
    <StackLayout orientation="vertical">
      <StackLayout class="progress-container" *ngIf="isLoading && uploading" orientation="horizontal"
        horizontalAlignment="stretch">
        <Progress [value]="uploadProgress" maxValue="100" class="progress"></Progress>
      </StackLayout>
      <GridLayout height="50" rows="*">
        <StackLayout row="0" orientation="horizontal" verticalAlignment="center" horizontalAlignment="center">
          <Label class="modal-title h2 text-center" [text]="isEditing ? 'Make a Questnr' : 'Edit Your Questnr'"
            horizontalAlignment="center" textWrap="true"></Label>
        </StackLayout>
        <Label class="close-modal fa" row="0" verticalAlignment="center" horizontalAlignment="right" text="&#xf00d;"
          (tap)="close()"></Label>
      </GridLayout>

      <StackLayout>
        <qn-hr></qn-hr>
      </StackLayout>

      <StackLayout class="post-create-container">
        <StackLayout *ngIf="!isBlogEditor">
          <TextView class="textarea" hint="Describe Here..." (loaded)="onFeedTextViewLoaded($event)"
            [formControl]="text" (textChange)="onTextChange($event)">
          </TextView>
        </StackLayout>

        <StackLayout *ngIf="isBlogEditor">
          <!-- <rt:RichTextField height="60" iconColor="red" fieldBackgroundColor="transparent"></rt:RichTextField> -->
        </StackLayout>

        <StackLayout *ngIf="!isEditing">
          <Label *ngIf="isBlogEditor" text="switch to normal editor" (tap)="switchEditor(false)"
            class="editor-mode"></Label>
          <Label *ngIf="!isBlogEditor" text="switch to blog editor" (tap)="switchEditor(true)"
            class="editor-mode"></Label>
        </StackLayout>

        <qn-space [space]="10"></qn-space>

        <GridLayout class="media-container" rows="auto, *, auto" id="selected-media-container">
          <GridLayout *ngIf="addedMediaSrc?.length > 0" row="0" rows="*">
            <Label row="0" text="{{addedMediaSrc?.length+' items added'}}"></Label>
          </GridLayout>

          <RadListView row="1" [items]="addedMediaSrc" [height]="addedMediaSrc?.length > 0 ? 130:  0"
            orientation="horizontal" [itemTemplateSelector]="templateSelector" selectionBehavior="LongPress"
            multipleSelection="true" (itemSelected)="onItemSelected($event)" (itemDeselected)="onItemDeselected($event)"
            (loaded)="onAttachedMediaListViewLoaded($event)">
            <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal" itemDeleteAnimation="Slide">
            </ListViewLinearLayout>
            <ng-template let-media="item" let-index="index" tkTemplateKey="image">
              <StackLayout class="media-wrap" orientation="horizontal" verticalAlignment="center">
                <!-- <button mat-icon-button (click)="removeMedia(i)">
                  <mat-icon>close</mat-icon>
                </button> -->
                <NSImg class="media-item" loadMode="async" [src]="media.src" stretch="aspectFill"
                  (failure)="onFailure($event, index)">
                </NSImg>
                <!-- <video *ngIf="addedMediaSrc[i]?.type.includes('video')">
                  <source [src]="addedMediaSrc[i]?.src" [type]="addedMediaSrc[i].type">
                </video> -->
              </StackLayout>
              <!-- <app-attached-file *ngIf="addedMediaSrc[i]?.type.includes('application')" [attachedFile]="addedMediaSrc[i]"
                [ind]="i" [useLink]="false" (removeAttachedFileListener)="removeMedia($event)">
              </app-attached-file> -->
            </ng-template>
          </RadListView>

          <GridLayout *ngIf="_selectedItemIndexList.length > 0" row="2" rows="*" (tap)="onRemoveMedia()">
            <!-- <Label row="0" text="{{_selectedItems?.length+' selected'}}"></Label> -->
            <Label row="0" class="fa remove-media" text="&#xf1f8;" horizontalAlignment="right"></Label>
          </GridLayout>
        </GridLayout>

        <FlexboxLayout class="media-category-container" flexDirection="row" id="media-category-container">
          <StackLayout class="media-category image" orientation="horizontal" verticalAlignment="center"
            (tap)="attachImage()">
            <Label class="fa" text="&#xf1c5;"></Label>
          </StackLayout>
          <StackLayout class="media-category video" orientation="horizontal" verticalAlignment="center"
            (tap)="attachVideo()">
            <Label class="fa" text="&#xf03d;"></Label>
          </StackLayout>
          <StackLayout class="media-category application" orientation="horizontal" verticalAlignment="center"
            (tap)="attachApplication()">
            <Label class="fa" text="&#xf1c2;"></Label>
          </StackLayout>
        </FlexboxLayout>

        <!-- <GridLayout class="attach-media-container" rows="*" (tap)="openMediaCategoryContainer()">
          <Label row="0" [text]="'Add Media To&nbsp;'+postEditorName" verticalAlignment="center"></Label>
          <Label row="0" class="fa media-icon" text="&#xf03e;" verticalAlignment="center"
            horizontalAlignment="right"></Label>
        </GridLayout> -->

        <qn-space [space]="15"></qn-space>

        <StackLayout class="btn-wrap">
          <Button class="btn-post" [text]="isEditing ? 'Edit': 'Create'"
            [ngClass]="isPostInvalid() || isLoading ? 'disabled': ''" [isEnabled]="!(isPostInvalid() || isLoading)"
            (tap)="postFeed()">
          </Button>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</Page>