@import "~/variables";

.community-card-view-skeleton {
    background-color: $gray;
    .community-avatar {
        border-bottom-width: 2;
        border-color: $primary;
        background-color: $dark-gray-2;
    }
    .community-details {
        .name {
            height: 16;
            margin-bottom: 10;
        }
        .description {
            height: 14;
        }
    }
    .community-join-action {
    }
}
