<StackLayout class="community-privacy-change-wrapper" width="100%" height="100%">
  <Label class="header" [text]="community.communityPrivacy === 
  communityPrivacyClass.pri ? 'Make community Public?': 'Make community Private?' "></Label>
  <qn-hr></qn-hr>
  <StackLayout class="body">
    <StackLayout *ngIf="community.communityPrivacy === communityPrivacyClass.pub" verticalAlignment="top">
      <GridLayout class="rule" columns="20, *" rows="*" *ngFor="let rule of communityPublicRules;"
        verticalAlignment="top">
        <Label col="0" row="0" class="fa bullet" text="&#xf10c;" verticalAlignment="middle"></Label>
        <Label col="1" row="0" class="text" [text]="rule" textWrap="true"></Label>
      </GridLayout>
      <!-- <know-more-link [knowMoreId]="knowMoreTypeClass.publicCommunityPrivacy" (clickEvent)="clickEventListener()">
        </know-more-link> -->
    </StackLayout>
    <StackLayout *ngIf="community.communityPrivacy === communityPrivacyClass.pri" verticalAlignment="top">
      <GridLayout class="rule" columns="20, *" rows="*" *ngFor="let rule of communityPrivateRules;"
        verticalAlignment="top">
        <Label col="0" row="0" class="fa bullet" text="&#xf10c;" verticalAlignment="middle"></Label>
        <Label col="1" row="0" class="text" [text]="rule" textWrap="true"></Label>
      </GridLayout>
      <!-- <know-more-link [knowMoreId]="knowMoreTypeClass.privateCommunityPrivacy" (clickEvent)="clickEventListener()">
        </know-more-link> -->
    </StackLayout>
  </StackLayout>
  <StackLayout class="footer">
    <qn-hr></qn-hr>
    <qn-space [space]="5"></qn-space>
    <FlexboxLayout class="button-row" justifyContent="space-around">
      <Button *ngIf="!isLoading" class="primary" height="30" (tap)="toggleCommunityPrivacy(community.communityPrivacy === communityPrivacyClass.pri ? 
        communityPrivacyClass.pub : communityPrivacyClass.pri)" ripple [rippleColor]="qColors.$primary"
        text="I understand!" horizontalAlignment="right"></Button>
      <StackLayout *ngIf="isLoading" orientation="horizontal">
        <ActivityIndicator width="30" height="30" busy="true" class="loading"></ActivityIndicator>
      </StackLayout>
      <Button class="secondary" height="30" (tap)="close()" ripple [rippleColor]="qColors.$primary" text="Cancel"
        horizontalAlignment="right"></Button>
    </FlexboxLayout>
  </StackLayout>
</StackLayout>