<GridLayout class="icon" rows="*">
    <StackLayout row="0" *ngIf="slug" orientation="horizontal" verticalAlignment="top" [height]="height"
        [width]="height" [nsRouterLink]="['/', defaultPath, slug]">
        <NSImg [placeholderImageUri]="defaultSrc" [failureImageUri]="defaultSrc" verticalAlignment="middle"
            [src]="getAvatarLink()" [height]="height" [width]="height" loadMode="async" roundAsCircle="true"
            stretch="aspectFill" (failure)="onFailure($event)">
        </NSImg>
    </StackLayout>
    <StackLayout row="0" *ngIf="!slug" [height]="height" [width]="height" orientation="horizontal"
        verticalAlignment="top">
        <NSImg [placeholderImageUri]="defaultSrc" [failureImageUri]="defaultSrc" verticalAlignment="middle"
            [src]="getAvatarLink()" [height]="height" [width]="height" loadMode="async" roundAsCircle="true"
            stretch="aspectFill" (failure)="onFailure($event)">
        </NSImg>
    </StackLayout>
</GridLayout>