<GridLayout id="body font-size-md eloha-font-regular">
    <GridLayout (loaded)="onMainLayoutLoaded($event)"
        [isUserInteractionEnabled]="userInteractionService.isUserInteractionEnabled$ | async" rows="*">
        <GridLayout row="0">
            <page-router-outlet></page-router-outlet>
        </GridLayout>

        <GridLayout *ngIf="overlayService.isOverlaying$ | async" class="overlay" (tap)="onMainLayoutTap($event)"
            row="0">
        </GridLayout>
    </GridLayout>

    <!-- Busy indicator with an overlay -->
    <GridLayout *ngIf="loaderService.isLoading$ | async" [backgroundColor]="qColors.$overlay" (tap)="true">
        <ActivityIndicator width="60" height="60" busy="true" class="activity-indicator"></ActivityIndicator>
    </GridLayout>

    <GridLayout>
        <qn-post-menu-modal></qn-post-menu-modal>
    </GridLayout>
</GridLayout>