<CardView class="owner-profile-wrapper" radius="10" (tap)="openUserProfile()">
    <GridLayout rows="auto, *">
        <StackLayout class="header" row="0" verticalAlignment="top">
            <Label text="View Community Owner's Profile" horizontalAlignment="center"></Label>
        </StackLayout>
        <GridLayout class="content" columns="auto, *" rows="*" row="1">
            <StackLayout class="profile-icon" col="0" row="0">
                <qn-profile-icon class="head" [avatar]="user?.avatarDTO" [height]="40" [sizeRef]="'small'"
                    [slug]="user?.slug">
                </qn-profile-icon>
            </StackLayout>
            <Label class="username" [text]="user?.username" col="1" row="0" verticalAlignment="middle">
            </Label>
        </GridLayout>
    </GridLayout>
</CardView>
<!-- @todo: Skeleton can be shown -->