@import "~/variables";
@import "scss/mixins/index";

.login-page-background {
    background-color: $white;
}

.logo-container {
    clip-path: ellipse(70% 80% at 50% 20%);
    background-color: $heading;
    .image-container {
        width: 90%;
        opacity: 1;
    }
}

.container-padding {
    padding-left: 50;
    padding-right: 50;
    padding-top: 20;
}

.copyright-label {
    text-align: center;
    opacity: 0.6;
    color: #a5a5a5;
}

.input-wrapper {
    .input-container {
        border-width: 1;
        border-radius: 4;
        border-color: #ffffff;
        background-color: #ffffff;
        vertical-align: middle;
        display: flex;
        align-items: center;
        height: 100px;
        padding: 0 10px;
    }

    .input-field {
        @include make-font-size(1);
        border-bottom-width: 0;
        padding: 0;
        margin: 0;
        placeholder-color: rgba(16, 50, 65, 0.45);
        vertical-align: middle;
    }
    .login-field-label {
        @include make-font-size(-1);
        font-weight: bold;
    }

    .input-field-error {
        border-width: 2;
        border-color: $red;
    }
}
.submit-container {
    padding-top: 40;
    .login-submit {
        border-width: 1;
        border-radius: 10;
        border-color: $white;
        background-color: $heading;
        color: $white;
        padding-top: 10;
        padding-bottom: 10;
        text-transform: none;
    }

    .login-submit:disabled {
        opacity: 0.6;
    }
}

.login-forgot-password {
    color: $link-primary;
}

.show-hide-icon {
    color: $heading;
}

.login-page-tablet {
    width: 60%;
}
