@import "~/variables";
@import "scss/mixins/index";

.community-card-view-wrapper {
    background-color: $gray;
    .community-avatar {
        border-bottom-width: 2;
        border-color: $primary;
    }
    .community-details {
        text-align: center;
        .name {
            @include make-font-size(2);
            font-weight: 500;
        }
        .description {
            @include make-font-size(0);
        }
    }
    .community-join-action {
    }
}
