@import "~/variables";
@import "scss/mixins/index";

.feed-text {
    .pre {
        @include make-font-size(0);
        margin: 0;
        color: $gray-font-2;
    }

    .read-more-container {
        .read-more {
            border-width: 0;
            background-color: transparent;
            color: $link-primary;
        }
    }
}
