@import "~/variables";
@import "scss/mixins/index";

.horizontal-profile {
  border-radius: 5;
  .profile-icon {
  }
  .profile-detail {
    margin-left: 10;
    margin-right: 3;
    // @maybe
    // display: flex;
    // flex-direction: row;
    // align-items: baseline;
    .head {
      font-weight: 400;
      @include make-font-size(0);
    }
    .subhead {
      @include make-font-size(-1);
      padding-left: 6;
      color: $secondary-font-color;
    }
  }
}
