<GridLayout class="horizontal-profile" (tap)="handleTap($event)" ripple [rippleColor]="rippleColor"
    [rippleEnabled]="rippleEnabled" columns="auto, *" rows="*">
    <GridLayout class="profile-icon" orientation="horizontal" col="0" row="0" rows="*" verticalAlignment="middle"
        [height]="iconHeight">
        <qn-profile-icon row="*" [isCommunityAvatar]="isCommunityAvatar" [avatar]="avatar" [height]="iconHeight"
            [sizeRef]="iconSize">
        </qn-profile-icon>
    </GridLayout>
    <GridLayout class="profile-detail" row="0" col="1" orientation="horizontal" verticalAlignment="middle"
        horizontalAlignment="stretch" rows="*">
        <GridLayout row="0" [columns]="subhead ? '*, auto' :'*'" verticalAlignment="middle">
            <Label col="0" [text]="head" class="head"></Label>
            <Label col="1" class="subhead" [text]="subhead" *ngIf="subhead"></Label>
        </GridLayout>
    </GridLayout>
</GridLayout>