<Page xmlns="http://www.nativescript.org/tns.xsd" class="post-menu-wrapper" (loaded)="onPageLoaded($event)">
    <StackLayout isPassthroughParentEnabled="false" *ngIf="currentPost">
        <!-- <GridLayout height="50" rows="*">
            <StackLayout row="0" orientation="horizontal" verticalAlignment="center" horizontalAlignment="center">
                <Label class="modal-title h2 text-center" text="Make a Questnr" horizontalAlignment="center"
                    textWrap="true"></Label>
            </StackLayout>
            <Label class="close-modal fa" row="0" verticalAlignment="center" horizontalAlignment="right" text="&#xf00d;"
                (tap)="close()"></Label>
        </GridLayout> -->

        <StackLayout>
            <qn-hr [height]="2" [color]="qColors.$heading"></qn-hr>
            <qn-hr [height]="1" [color]="qColors.$primary"></qn-hr>
        </StackLayout>
        <StackLayout>
            <StackLayout *ngIf="isOwner">
                <StackLayout (tap)="onPostEdit()" *ngIf="simplifiedPostType === simplifiedPostTypeClass.post">
                    <qn-post-menu-option [border]="true" [icon]="'&#xf044;'" [text]="'Edit Post'"></qn-post-menu-option>
                </StackLayout>
                <StackLayout (tap)="removePost()">
                    <qn-post-menu-option [border]="true" [icon]="'&#xf014;'" [text]="'Delete Post'">
                    </qn-post-menu-option>
                </StackLayout>
                <StackLayout (tap)="onCopyPostLink()">
                    <qn-post-menu-option [border]="false" [icon]="'&#xf0c1;'" [text]="'Copy Link'">
                    </qn-post-menu-option>
                </StackLayout>
            </StackLayout>
            <StackLayout *ngIf="!isOwner" horizontalAlignment="stretch">
                <StackLayout *ngIf="showUnfollowBtn()" (tap)="unfollow()">
                    <qn-post-menu-option [border]="true" [icon]="'&#xf127;'" [text]="'Unfollow '+displayNameOfEntity">
                    </qn-post-menu-option>
                </StackLayout>
                <StackLayout (tap)="reportPost()">
                    <qn-post-menu-option [border]="true" [icon]="'&#xf24a;'" [text]="'Report Post'">
                    </qn-post-menu-option>
                </StackLayout>
                <StackLayout (tap)="onCopyPostLink()">
                    <qn-post-menu-option [border]="false" [icon]="'&#xf0c1;'" [text]="'Copy Link'">
                    </qn-post-menu-option>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</Page>