<GridLayout class="community-horizontal-list-view-wrapper" rows="auto, *">
  <FlexboxLayout row="0" class="head" justifyContent="space-between">
    <Label class="title" [ngClass]="[communityListType === communityListTypeClass.trending ? 'trending': '',
    communityListType === communityListTypeClass.suggested ? 'suggested': '']" [text]="communityBoxTitle"></Label>
    <Label class="count fa" [text]="totalCommunityCount+'&nbsp;&nbsp;&#xf061;'" *ngIf="totalCommunityCount"
      (tap)="onOpenCommunityListPage($event)" ripple [rippleColor]="qColors.$gray"></Label>
  </FlexboxLayout>
  <RadListView row="1" [items]="communityList" orientation="horizontal" [itemTemplateSelector]="templateSelector"
    *ngIf="!loadingCommunities">
    <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal" itemDeleteAnimation="Slide">
    </ListViewLinearLayout>
    <ng-template let-community="item" let-index="index" tkTemplateKey="communityView">
      <GridLayout class="community-card-view-container">
        <qn-community-card-view [community]="community" [showJoinButton]="showJoinButton"></qn-community-card-view>
      </GridLayout>
    </ng-template>
  </RadListView>
  <GridLayout row="1" *ngIf="loadingCommunities">
    <qn-community-horizontal-list-view-skeleton [showJoinButton]="showJoinButton">
    </qn-community-horizontal-list-view-skeleton>
  </GridLayout>
</GridLayout>