@import "~/variables";
@import "scss/mixins/index";

.community-horizontal-list-view-wrapper {
    .head {
        margin-left: 5;
        margin-right: 5;
        @include make-font-size(2);
        .title {
            color: $gray-font-2;
            &.trending {
                @include make-font-size(4);
            }
            &.suggested {
                @include make-font-size(3);
            }
        }
        .count {
            color: $primary;
        }
    }
    .community-card-view-container {
        margin-left: 10;
        margin-right: 10;
    }
}
