@import "~/variables";
@import "scss/mixins/index";

.community-activity-wrapper {
  width: 90%;
  margin: 3;
  border-width: 3;
  border-color: $gray;
  .activity-item {
    padding: 10;
    .figure {
      color: $primary;
      font-weight: 500;
      @include make-font-size(3);
    }
    .caption {
      color: $black;
      @include make-font-size(1);
    }
  }
  .trend-item{
    .figure {
      @include make-font-size(4);
      color: $primary;
    }
    .caption {
      @include make-font-size(2);
      color: $heading;
    }
  }
}
