<StackLayout class="recommended-post-wrapper box" verticalAlignment="top">
  <GridLayout class="head-wrap" verticalAlignment="top" columns="auto, *, auto" *ngIf="!showUserHeader">
    <StackLayout class="profile-icon" orientation="horizontal" row="0" col="0" verticalAlignment="stretch">
      <qn-profile-icon class="head" [avatar]="feed.userDTO.avatarDTO" [height]="35" [sizeRef]="'small'"
        [slug]="feed?.userDTO?.slug">
      </qn-profile-icon>
    </StackLayout>
    <GridLayout verticalAlignment="top" row="0" col="1" columns="55*, 45*" class="profile-detail">
      <StackLayout row="0" col="0">
        <qn-username class="head" [username]="feed?.userDTO?.username" [slug]="feed.userDTO.slug">
        </qn-username>
        <qn-time-string class="time-string" [metaData]="feed.metaData"></qn-time-string>
      </StackLayout>
      <StackLayout col="1">
        <Label class="subhead" horizontalAlignment="right" [text]="'Posted in '+feed?.communityDTO?.communityName"
          [nsRouterLink]="['/', communityPath, feed?.communityDTO.slug]">
        </Label>
      </StackLayout>
    </GridLayout>
    <StackLayout class="post-menu" col="2" (tap)="openPostMenu()">
      <Label class="fa" text="&#xf0c9;"></Label>
    </StackLayout>
  </GridLayout>

  <GridLayout class="head-wrap" verticalAlignment="top" columns="auto, *, auto" *ngIf="showUserHeader">
    <StackLayout class="profile-icon" orientation="horizontal" row="0" col="0" verticalAlignment="stretch">
      <qn-profile-icon [avatar]="feed.userDTO.avatarDTO" [height]="35" [sizeRef]="'small'" [slug]="feed?.userDTO?.slug">
      </qn-profile-icon>
    </StackLayout>
    <StackLayout verticalAlignment="top" row="0" col="1" class="profile-detail">
      <qn-username class="head" [username]="feed?.userDTO?.username" [slug]="feed.userDTO.slug">
      </qn-username>
      <qn-time-string class="time-string" [metaData]="feed.metaData"></qn-time-string>
    </StackLayout>
    <StackLayout class="post-menu" col="2" (tap)="openPostMenu()">
      <Label class="fa" text="&#xf0c9;"></Label>
    </StackLayout>
    <!-- <div class="spacer"></div>
    <app-post-menu-options [isCommunityPost]="!showUserHeader" (postData)="updatePostEvent($event)"
      [feed]="editableFeed" (removePostEvent)="removePost($event)"></app-post-menu-options> -->
  </GridLayout>

  <StackLayout #feedViewContainer>
    <qn-media-container [postActionId]="feed?.postActionId" [viewMediaList]="viewMediaList"
      *ngIf="viewMediaList?.length" #mediaContainer>
    </qn-media-container>
  </StackLayout>

  <StackLayout orientation="horizontal" height="0" #container></StackLayout>

  <StackLayout class="feed-text">
    <qn-feed-text [text]="displayText" [hashTagsData]="hashTagsData" #feedTextComponent></qn-feed-text>
  </StackLayout>

  <StackLayout>
    <qn-hr></qn-hr>
    <qn-post-interaction-panel [feed]="feed" #postInteractionPanel></qn-post-interaction-panel>
  </StackLayout>
</StackLayout>