@import "~/variables";
@import "scss/mixins/index";

.user-list-page-wrapper {
    .horizontal-profile-container {
        margin: 0;
        padding: 0;
    }
    .load-more {
        padding: 10px;
        color: $link-primary;
        text-decoration: underline;
    }
    .no-data {
        text-align: center;
        padding: 10;
        .static-text {
            @include make-font-size(2);
        }
        .user-text {
            @include make-font-size(4);
            font-weight: 500;
            color: $heading;
        }
    }
}
