@import "~/variables";
@import "scss/mixins/index";

.comment-container-wrapper {
    .comment-item-wrapper {
        .comment-item-container {
            .comment-box {
                width: 100%;
                .child-comment-list {
                    padding-left: 10;
                }
            }
        }
        .loader {
        }
        .load-more-button {
            color: $gray-font-2;
            @include make-font-size(-1);
            // padding: 3;
            Label {
                padding: 8;
                border-radius: 5;
            }
        }
    }
    .comment-user-interaction-wrapper {
    }
}
