<StackLayout class="post-skeleton-wrapper box" verticalAlignment="top">
  <GridLayout class="head-wrap" verticalAlignment="top" columns="auto, *, auto">
    <StackLayout class="profile-icon" orientation="horizontal" row="0" col="0" verticalAlignment="stretch">
      <Label row="0" col="0" text=" " class="profile-skeleton" [height]="35" [width]="35"></Label>
    </StackLayout>
    <StackLayout verticalAlignment="top" row="0" col="1" class="profile-detail" verticalAlignment="center">
      <Label row="0" col="0" text=" " class="head" width="50%" horizontalAlignment="left"></Label>
      <Label row="0" col="0" text=" " class="subhead" width="25%" horizontalAlignment="left"></Label>
    </StackLayout>
    <StackLayout class="post-menu" col="2">
      <Label class="fa" text="&#xf0c9;"></Label>
    </StackLayout>
  </GridLayout>
  <StackLayout class="feed-text">
    <Label row="0" col="0" text=" " class="feed-text-part" width="100%" horizontalAlignment="left"></Label>
    <Label row="0" col="0" text=" " class="feed-text-part" width="80%" horizontalAlignment="left"></Label>
    <Label row="0" col="0" text=" " class="feed-text-part" width="70%" horizontalAlignment="left"></Label>
    <Label row="0" col="0" text=" " class="feed-text-part" width="40%" horizontalAlignment="left"></Label>
    <Label row="0" col="0" text=" " class="feed-text-part" width="90%" horizontalAlignment="left"></Label>
    <Label row="0" col="0" text=" " class="feed-text-part" width="20%" horizontalAlignment="left"></Label>
  </StackLayout>

  <StackLayout>
    <qn-hr></qn-hr>
  </StackLayout>

  <FlexboxLayout class="post-interactions" flexDirection="row" justifyContent="space-between">
    <Label row="0" col="0" text=" " class="button-skeleton button-space" horizontalAlignment="left"></Label>
    <Label row="0" col="0" text=" " class="button-skeleton button-space" horizontalAlignment="left"></Label>
    <Label row="0" col="0" text=" " class="button-skeleton" horizontalAlignment="left"></Label>
  </FlexboxLayout>
</StackLayout>